@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 1000ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.bounce {
  animation:
    bounce 300ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}
