/* Configurações do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais do Body */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Efeito de Vidro */
.glass-effect {
  background: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Modo Escuro */
.dark {
  --color-bg-primary: #151515;
  --color-text-primary: #f0f0f0;
}

/* Modo Claro */
.light {
  --color-bg-primary: #f0f0f0;
  --color-text-primary: #151515;
}
